.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rounded-container {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #ffffff;
    max-width: 300px;
    width: 100%;
}

.input-width {
    width: 100%; /* Set the width to 100% */
    margin-bottom: 15px; /* Add some space between the text boxes */
}
